@use 'variables' as v;
@use 'mixins' as m;

// Buttons
.btnPrimary {
    @include m.btn(v.$color1, v.$colorLight, v.$colorDark, v.$colorLight);
}
.btnAux {
    @include m.btn(v.$color1, v.$colorLight, v.$color2, v.$colorDark);
}

.btnSecondary {
    @include m.btn(v.$color2, v.$colorDark, v.$colorDark, v.$colorMidLight);
}

.btnDark {
    @include m.btn(v.$colorDark, v.$colorMidLight, v.$colorDark, v.$colorMidLight);
}

.btnLight {
    @include m.btn(v.$colorMidLight, v.$colorDark, v.$colorDark, v.$colorMidLight);
}

.animate__jackInTheBox {
    animation-duration: 2s;
}
.animate__fadeInUp {
    animation-duration: 2s;
    animation-delay: 1s;
}
.animate__pulse {
    animation-iteration-count: infinite;
}

.animate-on-scroll {
    opacity: 0;
    visibility: hidden;
}

.animate__animated {
    visibility: visible !important;
}