// Fonts
$fontFamily: "Balsamiq Sans", sans-serif;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontStyle: normal;

//colors
$color1:#1967ff;
$color2: #ffd600;
$colorDark:#052a53;
$colorMidHight:#8eb6ff;
$colorMidLight: #d4e1fd;
$colorLight: #ebf2ff;
$colorBg:#faf8d8;


// Screen Sizes
$mobile:480px;
$tablet:768px;
$desktop:1024px;

// Spacing
$spaceBig: 10rem;
$spaceRegular: 5rem;
$spaceSmall: 2.5rem;
